<div class="card" style="width:25rem; align-items: center" >
  <div class="card-body" style="align-items: center">
    <label>Select file to upload</label>
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)" style="align-items: center">
      <div class="form-group">
        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
               (change)="showPreview($event)">
        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="caption" placeholder="Caption">
        <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required.
        </div>
      </div>
      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="Animal">Animal</option>
          <option value="Vehicle">Vehicle</option>
          <option value="Bird">Bird</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <a routerLink="/image/list" class="btn btn-primary btn-block float-right">Gallery</a>
        </div>
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right">Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
