<table *ngIf="imageList" style="display: flex">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i!=0">
        <img [src]="imageList[3*i-1].imageUrl" class="img-fluid">
      </div>
    </td>
    <td *ngIf="imageList[3*i]">
      <div class="imagebox">
        <img [src]="imageList[3*i].imageUrl" class="img-fluid">
      </div>
    </td>
    <td *ngIf="imageList[3*i+1]">
      <div class="imagebox">
        <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
      </div>
    </td>
  </tr>
</table>
